* {
    margin: 0;
    padding: 0;
    font-family: Okra, Helvetica, sans-serif;

    a {
        text-decoration: none;
    }
}

nav {
    padding-top: 10px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    width: 1100px;
    margin: auto;
    margin-bottom: 2px;

}

.logo {


    img {
        width: 129px;
        height: 27px;
    }
}

.full {
    display: flex;
    box-shadow: 0px 0px 5px gray;
    width: 704px;
    height: 54px;
    align-items: center;
    margin-left: 20px;

}

.loca {
    /* border: 2px solid; */
    display: flex;
    align-items: center;
    width: 243px;


    .loim {
        margin-left: 10px;
        width: 24px
    }

    input {
        border-color: transparent;
        font-size: 16px;
        margin-left: 10px;
        width: 170px;
        color: #c9c9c9;
    }

    input:focus {
        outline: none;
        border: 2px solid transparent;
    }

    .loar {
        margin-right: 20px;

    }

}

.mid-line {
    background-color: #cfcbcb;
    width: 1.5px;
    height: 30px;
}

.search {
    display: flex;
    justify-content: center;

    img {
        margin-left: 10px;

    }

    input {
        border: 2px solid transparent;
        font-size: 16px;
        margin-left: 10px;
        width: 410px;
        color: #c9c9c9;
    }

    input:focus {
        outline: none;
        border: 2px solid transparent;
    }
}

nav button {
    font-size: 25px;
    padding: 10px;
    margin-left: 30px;
    background-color: transparent;
    border-color: transparent;
    font-weight: 100;
    a{
        color: #5b5b5b;

    }
}

.log {
    margin-left: 30px;
    /* font-weight:500; */
}

header {
    padding-top: 80px;
    margin: auto;
    top: -60px;
    position: sticky;
    display: flex;
    justify-content: center;
    background-color: white;


}

.hed {
    width: 1100px;
    display: flex;
    list-style-type: none;
    gap: 50px;

}

.hedd {
    border-bottom: 3px solid rgb(228, 115, 115);
}

.hed li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 100;
    color: #767676;
    padding-bottom: 10px;

    :hover {
        border-bottom: 2px solid transparent;

    }

    img {
        width: 40px;
    }
}

.coll {
    background-color: #f8f8f8;
    height: 500px;


    h1 {
        margin: auto;
        font-size: 32px;
        font-weight: 100;
        padding: 20px 0px;
        width: 1100px;
    }

    .span {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        width: 1100px;
        margin: auto;
    }

    .span span {
        font-size: 20px;
        font-weight: 100;
    }

    .sp2 {

        a {
            color: #ff8fb9;
            text-decoration: none;
        }

        img {
            vertical-align: middle;
            margin-top: 2px;
            position: relative;

        }
    }


}

.pho {
    height: 320px;
    width: 260px;
    background-size: cover;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    font-size: 20px;

    p {
        padding-left: 20px;

        img {
            filter: brightness(0) invert(1);
        }


    }
}

.pho1 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url(../Images/jai1.avif);
}

.pho2 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url(../Images/jai2.avif);
}

.pho3 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url(../Images/jai3.avif);

}

.pho4 {
    background-image: linear-gradient(to bottom, rgb(0, 0, 0, 0.0), rgba(0, 0, 0, 0.6)), url(../Images/jai4.avif);
}

.town {
    margin: auto;
    width: 1100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;


}

.nav {
    padding-top: 30px;
    display: flex;
    gap: 15px;
    width: 1100px;
    margin: auto;
}

.nav-list {
    border-radius: 10px;
    width: auto;
    /* height: 40px; */
    border: 1px solid rgb(197, 197, 197);
    color: rgb(174, 172, 172);
    text-align: center;
    padding: 8px;
    font-size: 17px;
    font-weight: 100;



}

.jaipur {
    padding-top: 40px;
    width: 1100px;
    font-weight: 100;
    margin: auto;

    h1 {
        padding: 20px 0px;
        font-size: 32px;
        font-weight: 100;
    }
}

.rest {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.rast {
    width: 330px;
    height: auto;
    border-radius: 10px;
    /* background-color: gray; */
    padding: 10px;

    img {
        /* margin: 10px; */
        border-radius: 15px;
        margin-bottom: 10px;
        width: 328px;
        height: 248px;
    }

}

.rast:hover {

    box-shadow: 0px 0px 3px rgb(185, 182, 182);
}

.side {
    display: flex;
    justify-content: space-between;
    line-height: 1.6;

    p {
        color: #7e7d7d;

    }
}

.sid1 {
    h4 {
        white-space: nowrap;
    }

    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 210px;

    }
}

.sid2 {
    text-align: end;

    p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 110px;


    }

    .t {
        background-color: green;
        border-radius: 10px;
        color: white;
        width: 40px;
        padding-right: 10px;
        margin-left: 50px;
    }

    .o {
        color: rgb(62, 61, 61);

    }
}

footer {
    padding-top: 50px;

}

.foot1 {
    background-color: #f6f6f6;
    padding: 50px 0px;

    h1 {
        margin: auto;
        width: 1100px;
        color: #323232;
        font-weight: 100;
        font-size: 35px;
        padding-bottom: 50px;
    }

    .foot-option {
        margin: auto;
        width: 1100px;
        background-color: white;
        padding: 20px;
        color: #323232;
        font-size: 20px;
        border: 1px solid rgb(223, 222, 222);
        margin-bottom: 20px;
    }
}

.foot2 {
    padding: 50px 0px;
    width: 1100px;
    margin: auto;
}

.foot-nav {
    width: 1100px;
    margin: auto;
    Display: flex;
    justify-content: space-between;


    margin-bottom: 30px;

}

.option {
    select {
        padding: 5px 10px;
        margin-left: 20px;
    }
}

.list {
    display: flex;
    justify-content: space-between;

}

.lists {
    span {
        display: inline-block;
        margin-bottom: 20px;
        color: balck;
        font-weight: 200;

    }

    li {
        list-style: none;
        margin: 10px 0;
        color: #a2a2a2;
    }
}

.foot {
    width: 1100px;
    margin: auto;
    border-top: 1px solid rgb(185, 185, 185);
    padding-top: 10px;
    color: rgb(148, 148, 148);
    font-size: 15px;
    line-height: 1.6;
    word-spacing: 1px;
}